<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'sonicapp/style.css' %}">
        <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
        <title>Document</title>
</head>
<body>
    <div class="nav">
        <ul class="menu">
            <li><a href="{% url 'index' %}">Bot Page</a></li>            </ul>
        <ul class="sign-in">
            {% if request.user.is_authenticated %}
            <li>{{ user.username.upper }}</li>
            <li><a href="{% url 'upload_file' %}">Upload file</a></li>
            <li><a href="{% url 'pdfile_list' %}">Your files</a></li>
            <li><a href="{% url 'logout' %}">Log out</a></li>
            {% else %}
            <li><a href="{% url 'register' %}">Registration</a></li>
            <li><a href="{% url 'login' %}">Log in</a></li>
            {% endif %}
        </ul>
    </div>

    {% block content %}{% endblock %} 

</body>
</html>