{% extends 'sonicapp/base.html' %}

{% block index %}
<h1>Sonic ChatBot</h1>
    <div>
        <div id="chatbot">
            <p class="botText"><span>Hi there!</span></p>
        </div>
        <div id="userInput">
            <input type="text" id="textInput" name="userMessage" placeholder="Type your message..."/>
            <input type="submit" value="Send" id="buttonInput"/>
        </div>
    </div>

    <script>
        function getUserResponse(){
            var userText = $('#textInput').val();
            var userHTML = "<p class='userText'>You: <span>"+userText+"</span></p>";
            $('#textInput').val("");
            $('#chatbot').append(userHTML);
            $.get('/getResponse', {userMessage:userText}).done(function(data){
                var returnedMessage = '<p class="botText">Sonic: <span>'+ data +'</span></p>';
                $('#chatbot').append(returnedMessage);
            })
        }

        $('#buttonInput').click(function(){
            getUserResponse();
        })

    </script>
{% endblock %}