{% extends 'sonicapp/base.html' %}

{% block content %}
<!-- <div class="bg-gradient-to-r from-blue-500 to-purple-500 py-4">
  <h1 class="text-white text-2xl font-bold text-center">Chat App - ClueMediator.com</h1>
</div>
    <div>
        {% if request.user.is_authenticated %}
        <div id="chatbot">
            <p class="botText"><span>Hi there!</span></p>
        </div>
        <div id="userInput">
            <input type="text" id="textInput" name="userMessage" placeholder="Type your message..."/>
            <select id="pdf-select" name="size">
                {% for f in pdf_files %}
                <option value="{{ f }}">{{ f }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Send" id="buttonInput"/>
        </div>
        {% else %}
        <div>
            <h3>Sign in to use the bot</h3>
        </div>
        {% endif %}
    </div> -->

<!-- <div class="flex h-screen flex-col bg-gray-100"> -->
<div class="sm:w-full md:w-full lg:w-2/5 xl:w-2/5 mx-auto mt-5 mb-2 bg-gray-800 py-4 border-4 rounded-lg border-gray-800">
    <h1 class="text-center text-2xl font-bold text-white">Sonic ChatBot</h1>
</div>
<div class="h-[450px] sm:w-full md:w-full lg:w-2/5 xl:w-2/5 mx-auto border-4 border-gray-800 rounded-lg overflow-y-auto">
    <div id="chatbot" class="h-full flex-grow overflow-y-auto bg-gray-800">
        <div class="flex flex-col space-y-2 p-4">
        <!-- Individual chat message -->
            <div class="flex items-center self-start rounded-xl rounded-tl border-4 border-black bg-blue-500 py-2 px-3">
                <p class="botText text-white">What's up, broseph?</p>
            </div>
        </div>
    </div>
</div>
<div class="sm:w-full md:w-full lg:w-2/5 xl:w-2/5 mx-auto mt-2 flex items-center p-4 border-4 rounded-lg border-gray-800 bg-gray-800">
    <input type="text" id="textInput" name="userMessage" placeholder="Type your message..." class="w-full rounded-lg border border-gray-300 px-4 py-2 mr-4" />
    <!-- <button class="ml-2 rounded-lg bg-blue-500 px-4 py-2 text-white">Send</button> -->
    <!-- <label for="pdf-select" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select an file</label> -->
    <select id="pdf-select" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-2/5 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
        <!-- <select id="pdf-select" name="size"> -->
        {% for f in pdf_files %}
        <option value="{{ f }}">{{ f }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Send" class="ml-2 rounded-lg border-2 border-white bg-blue-900 hover:bg-blue-950 px-4 py-2 text-white" id="buttonInput"/>
</div>

    <script>
        function getUserResponse(){
            var userText = $('#textInput').val();
            var select = document.getElementById("pdf-select");
            var userSelect = select.value;
            var userHTML = "<div class='flex flex-col space-y-2 p-4 overflow-y-auto'><div class='flex items-center self-end rounded-xl border-4 border-black rounded-tr bg-blue-500 py-2 px-3 text-white overflow-y-auto'><p class='userText'>You: "+userText+"</p></div></div>";
            // var userHTML = "<div class='userText'>You: <span>"+userText+"</span></p>";
            $('#textInput').val("");
            $('#chatbot').append(userHTML);
            $.get('/getResponse', {userMessage:userText, userSelect:userSelect}).done(function(data){
                var returnedMessage = "<div class='flex flex-col space-y-2 p-4 overflow-y-auto'><div class='flex items-center self-start rounded-xl rounded-tl border-4 border-black bg-blue-500 py-2 px-3 overflow-y-auto'><p class='botText text-white'>Sonic: "+ data +"</p></div></div>";
                // var returnedMessage = '<div class="botText">Sonic: <span>'+ data +'</span></p>';
                $('#chatbot').append(returnedMessage);
            })
        }

        $('#buttonInput').click(function(){
            getUserResponse();
        })

    </script>
{% endblock %}