{% extends 'sonicapp/base.html' %}
{% load static %}

{% block content %}
<div class="min-h-screen bg-gray-800">
    <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
        <div class="sm:mx-auto sm:w-full sm:max-w-sm">
            <img class="mx-auto h-10 w-auto" src="{% static 'sonicapp/img/sonic.svg' %}" alt="Your Company">
            <h2 class="mt-10 text-center text-4xl font-bold leading-9 tracking-tight text-white">A new password was setup successfully</h2>
            <h2 class="mt-20 text-center text-3xl font-bold leading-9 tracking-tight text-white">Sign in to use the bot</h2>
    </div>
</div>
{% endblock %}