{% extends 'sonicapp/base.html' %}

{% block content %}

    <div class="form_container">
        <div class="form_wrapper">
            {% if request.user.is_authenticated %}
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% for f in form %}
                {{ f }}
                {% endfor %}
                {{f.errors}}
                <button type="submit">Upload</button>
            </form>
            {% else %}
            <div>
                <h3>
                    Sign in to upload files
                </h3>
            </div>

            {% endif %}

        </div>
    </div>

{% endblock %}