{% extends 'sonicapp/base.html' %}
{% load static %}

{% block content %}
<div class="flex min-h-screen flex-col justify-center px-6 py-12 lg:px-8 bg-gray-800">
    {% if not request.user.is_authenticated %}
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <img class="mx-auto h-10 w-auto" src="{% static 'sonicapp/img/sonic-favicon.svg' %}" alt="Sonic Logo">
        <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Sign in to upload files</h2>
    </div>
    {% else %}
    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
        <form class="space-y-6" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- <div class="block text-sm text-center font-medium leading-6 text-red-900">{{ form.errors }}</div> -->
            <div>
                <label for="text" class="block text-sm font-medium leading-6 text-white">File's Title</label>
                <div class="mt-2">
                    <!-- <input id="email" name="email" type="email" autocomplete="email" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"> -->
                    {{ form.title }}
                </div>
            </div>
            <div>
                <label for="file" class="block text-sm font-medium leading-6 text-white">File</label>
                <div class="mt-2">
                    <!-- <input id="email" name="email" type="email" autocomplete="email" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"> -->
                    {{ form.file }}
                </div>
            </div>
            <div>
                <button type="submit" class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Upload</button>
                <input type="hidden" name="next" value="{% url 'upload_file' %}">
            </div>
        </form>
    </div>
    {% endif %}
</div>
{% endblock %}