/* #chatbot {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 50px;
    border-radius: 10px;
    border: 1px solid gray;
    padding: 10px;
}

.botText {
    font-family: monospace;
    font-size: 14px;
    text-align: left;
    line-height: 25px;
    color: rgb(109, 111, 109);
}

#userInput {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width: 55%;
    text-align: center;
}

#textInput {
    border: 3px solid white;
    border-bottom: 3px solid #848080;
    font-family: monospace;
    font-size: 14px;
    width: 50%;
    padding: 16px;
    color: darkorange;
}

#buttonInput {
    padding: 5px;
    font-family: monospace;
    font-size: 14px;
    border: 3px solid #5b605c;
    background-color: rgb(40, 48, 48);
    color: white;
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: rgb(57, 72, 57);
    font-family: monospace;
}

.userText {
    text-align: right;
    font-family: monospace;
    font-size: 14px;
    line-height: 25px;
    color: rgb(109, 111, 109);
}

.form_container {
    box-sizing: border-box;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 15%;
    height: 300px;
    border: 5px solid #f44336;
    background-color: #ffeb3b;
}

.form_wrapper form {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.form_wrapper form input {
    margin: 20px auto;
    width: 400px;
    text-align: center;
    border-radius: 10px;
    padding-left: 5px;
    height: 25px;
}

.form_wrapper form input button {
    background-color: #f44336;
}

.form_wrapper form button {
	margin: 10px auto;
	display: block;
	background-color: greenyellow;
    color: black;
    border:none;
	border: 0.2rem solid black;
	border-radius: 30px;
	cursor: pointer;
	height: 40px;
	width: 30%;
	padding:  auto;
}  */